<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <app-header title="Главый заголовок" description="Главное описание"></app-header>
  <app-layout title="Первый Layout" description="Описание" urlBg="https://wallpaperaccess.com/full/1347954.jpg"></app-layout>
  <app-layout title="Второй Layout" description="Описание" colorBg="#d63031"></app-layout>
  <app-layout title="Третий Layout" description="Описание" urlBg="https://images.alphacoders.com/726/726155.jpg"></app-layout>
  <app-footer></app-footer>
</body>
</html>